.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #9f826b;
  width: 200px;
}

.sidebar input {
    margin: 20px;
    height: 30px;
    border-radius: 8px;
    border-color: gray;
    border-width: 1px;
    background-color: #d9d9d9;
    text-align: center;
    font-size: 20px;
}